@import url('@gouvfr-lasuite/ui-kit/style');
@import url('./cunningham-tokens.css');

:root {
  /**
  * Input
  */
  --c--components--forms-input--border-radius--hover: var(
    --c--components--forms-input--border-radius
  );
  --c--components--forms-input--border-radius--focus: var(
    --c--components--forms-input--border-radius
  );
  --c--components--forms-input--border-color--hover: var(
    --c--components--forms-input--border-color
  );

  /**
  * Datepicker
  **/
  --c--components--forms-datepicker--border-color--hover: var(
    --c--components--forms-datepicker--border-color
  );

  /**
  * Select
  **/
  --c--components--forms-select--value-color--disabled: var(
    --c--theme--colors--greyscale-400
  );

  /**
  * Button
  **/
  --c--components--button--border-radius--active: var(
    --c--components--button--border-radius
  );
}

/**
 * Tooltip
*/
.c__tooltip {
  padding: 4px 6px;
}

/**
 * Image System
*/
.c__image-system-filter {
  filter: var(--c--components--image-system-filter);
}

/**
* Toast
*/
.c__toast__container {
  z-index: -1;
}

.c__toast__container:has(.c__toast) {
  z-index: 10000;
}

@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/inter/v18/UcCm3FwrK3iLTcvnUwQT9g.woff2')
    format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/inter/v18/UcCo3FwrK3iLTcviYwY.woff2')
    format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}
