@import url('../cunningham/cunningham-style.css');
@import url('@fontsource/material-icons');

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

main ::-webkit-scrollbar,
.ReactModalPortal ::-webkit-scrollbar {
  width: 20px;
}

main ::-webkit-scrollbar-track,
.ReactModalPortal ::-webkit-scrollbar-track {
  background-color: transparent;
}

main ::-webkit-scrollbar-thumb,
.ReactModalPortal ::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

main ::-webkit-scrollbar-thumb:hover,
.ReactModalPortal ::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.btn-unstyled {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.material-icons-filled {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizelegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

[data-nextjs-dialog-overlay] {
  display: none !important;
}

nextjs-portal {
  display: none;
}
