.container {
  [role='treeitem'] {
    display: flex;
    align-items: center;
  }
}

.node {
  width: 100%;
  // padding-left: 0px !important;
  // margin-left: 180px;
  // min-width: 300px;
  height: calc(100% - 2px);
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 4px;
  border: 1.5px solid rgba(0, 0, 0, 0);
  cursor: pointer;

  padding: var(--c--theme--spacings--4xs) 0;
  gap: var(--c--theme--spacings--3xs);

  &:not(.willReceiveDrop, .selected):hover {
    background-color: var(--c--theme--colors--greyscale-100);
  }

  &.selected {
    background-color: var(--c--theme--colors--greyscale-100);

    font-weight: 700;
  }

  &.willReceiveDrop {
    background-color: var(--c--theme--colors--primary-100);
    border: 1.5px solid var(--c--theme--colors--primary-500);
  }
}

.cursor {
  position: absolute;
  width: 100%;
  height: 0;
  border-top: 2px solid var(--c--theme--colors--primary-500);
}
